@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SDPSubSystem.Web.Common;

<style type="text/css">
    #resultImage {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    td {
        text-align: center
    }

    .layoutstyle{
        padding-left:10px;
    }
</style>

<form class="form-horizontal" id="addressEdit">
    <div class="form-group" style="margin: 0 0;padding:20px 10% 0;">
        <label class="col-sm-2 control-label" for="CurrPN">
            当前型号：
        </label>
        <div class="col-sm-2" style="padding-top:10px">
            <input class="form-control" type="text" id="CurrPN" name="CurrPN" value="@ViewData["CurrPN"]"  readonly/>
        </div>
        <label class="col-sm-2 control-label" for="SpecID">
            转线型号：
        </label>
        <div class="col-sm-4" style="padding-top:10px">
            <input class="form-control" type="text" id="NextPN" name="NextPN" value="@ViewData["NextPN"]" readonly/>
        </div>
    </div>
    <div class="form-group" style="margin: 0 0;padding:10px 10% 0;">
        <label class="col-sm-2 control-label" for="Line">线别:</label>
        <div class="col-sm-2" style="padding-top:10px">
            <input class="form-control" type="text" id="Line" name="Line" value="@ViewData["Line"]" readonly />
        </div>

        <label class="col-sm-2 control-label" for="Project">项目:</label>
        <div class="col-sm-2" style="padding-top:10px">
            <input class="form-control" type="text" id="Project" name="Project" value="@ViewData["Project"]" readonly />
        </div>

        <label class="col-sm-2 control-label" for="FFWO">FF工单号:</label>
        <div class="col-sm-2" style="padding-top:10px">
            <input class="form-control" type="text" id="FFWO" name="FFWO" value="@ViewData["FFWO"]" readonly />
        </div>
    </div>
    <div class="form-group" style="margin: 0 0;padding:20px 10% 0;">
        <table style="width: 100%" border="1">
            <tr>
                <td colspan="2">
                    C/O team
                </td>
                <td colspan="2">
                    EE
                </td>
                <td>PE</td>
                <td>Prod</td>
            </tr>
            <tr>
                <td colspan="2" rowspan="3">
                    <table id="example" style="width: 100%;" border="1">
                        <thead>
                            <tr>
                                <th style="width: 30px; text-align: center;">Action</th>
                                <th style="text-align:center;">Table</th>
                                <th style="text-align:center;">责任人</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </td>
                <td>
                    EE1:
                </td>
                <td>
                    <input id="EE1" name="EECHECK1" value="@ViewData["EE1"]" readonly type="text" style="width: auto!important" onclick="showpage($(this).attr('id'))" />
                </td>
                <td rowspan="3">
                    <input id="PE" name="PECHECK1" value="@ViewData["PE"]" readonly type="text" style="width: auto!important" onclick="showpage($(this).attr('id'))" />
                </td>
                <td rowspan="3">
                    <input id="Production" name="ProCHECK1" value="@ViewData["Production"]" readonly type="text" style="width: auto!important" onclick="showpage($(this).attr('id'))" />
                </td>
            </tr>
            <tr>
                <td>
                    EE2:
                </td>
                <td>
                    <input id="EE2" name="EECHECK2" value="@ViewData["EE2"]" readonly type="text" style="width: auto!important" onclick="showpage($(this).attr('id'))" />
                </td>
            </tr>
            <tr>
                <td>
                    EE3:
                </td>
                <td>
                    <input id="EE3" name="EECHECK3" value="@ViewData["EE3"]" readonly type="text" style="width: auto!important" onclick="showpage($(this).attr('id'))" />
                </td>
            </tr>
        </table>
    </div>
    

    <input id="_id" name="ID" type="hidden" value="@ViewData["ID"]" />

</form>
<div id="dialog" title="用户名密码输入">
    <div>
        <div style="padding: 15px; font-size: 20px; text-align: center">
            <label id="dpment"></label>
            签到
        </div>
        <div class="form-group-sm">
            <label>用户名</label>
            <input id="userad" type="text" class="form-control" />
        </div>
        <div class="form-group-sm">
            <label>密码</label>
            <input id="userpwd" type="password" class="form-control" />
        </div>
        <div class="form-group-sm" style="margin: 10px 0px">
            <a class="btn btn-primary btn-block" onclick="signatrue()">Submit</a>
        </div>
        <div style="margin: 10px">
            <p style="color: red">请输入AD账号签到.</p>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#dialog').dialog({
            autoOpen: false,
            height: 400,
            width: 600,
            modal: true
        })


        $.post('@Url.Action("LoadTable")', { code:$('#_id').val(),project:$('#Project').val() }, function (result) {
            gentable(result.TableData, "example");
        })

    });

    function gentable(data, divtable) {

        $('#' + divtable + ' tbody').empty();
        $.each(data, function (idx, item) {
            //debugger
            var tr;
            tr = $('<tr ></tr>');
            $.each(item, function (key, val) {
                //debugger
                tr.append('<td class="text_format">' + val + '</td>');
            });
            $('#' + divtable + ' tbody').append(tr);
        });

    }


    function showpage(id) {

        $('#dpment').html(id);
        $('#dialog').dialog('open');

    }

    function signatrue() {
        var userad = $('#userad').val();
        var userpwd = $('#userpwd').val();
        var dpment = $('#dpment').html();

        $.post('@Url.Action("VerifyUser")', { Userad: userad, Userpwd: userpwd }, function (result) {
            if (result.IsSuccess) {
                $.globalMessenger().post({
                    message: "签名成功",//提示信息
                    type: 'info',//消息类型。error、info、success
                    hideAfter: 2,//多长时间消失
                    showCloseButton: true,//是否显示关闭按钮
                    hideOnNavigate: true //是否隐藏导航
                });

                $.post('@Url.Action("GetUserInfo")', { Userad: userad }, function (res) {

                    $('#' + dpment).val(res.User);

                    //保存签名
                    saveSign();
                });
            }
            else {
                if (result.Msg) {
                    var m_ul = "<ul>";
                    var flag = false;
                    $.each(result.Msg, function (idx, msg) {
                        m_ul += "<li>" + msg + "</li>";
                        flag = true;
                    });
                    m_ul += "</ul>";
                    if (flag) { bootbox.alert({ message: m_ul, title: "Error" }); }
                }
            }
            $('#userpwd').val('');
            $('#dialog').dialog('close');
        })

    }

    function saveSign() {
        $.post('@Url.Action("SaveEdit")', { poststr: JSON.stringify($('#addressEdit').serializeJSON()) }, function (result) {
                //console.log(result);
                //console.log(result.Msg);
                //debugger
                if (result.IsSuccess) {

                    $.globalMessenger().post({
                        message: "保存成功",//提示信息
                        type: 'info',//消息类型。error、info、success
                        hideAfter: 2,//多长时间消失
                        showCloseButton: true,//是否显示关闭按钮
                        hideOnNavigate: true //是否隐藏导航
                    });


                }
                else {
                    if (result.Msg) {
                        var m_ul = "<ul>";
                        var flag = false;
                        $.each(result.Msg, function (idx, msg) {
                            m_ul += "<li>" + msg + "</li>";
                            flag = true;
                        });
                        m_ul += "</ul>";
                        if (flag) { bootbox.alert({ message: m_ul, title: "Error" }); }
                    }

                }

            });
    }

</script>
