@{
    Layout = null;
}
@using SDPSubSystem.Web.Common;

<div class="modal-dialog" style="width:55%;height:450px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" style="color:White" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus"></span>@Html.GetLang("L000002")</h4>
        </div>
        <div class="modal-body">
            <div id="message-box" style="display:none" class="alert alert-danger fade in" role="alert"><ul></ul></div>
            <form class="form-horizontal" id="addressadd">
                <div class="form-group" style="margin: 0 0;padding:0 0;">
                    <label class="col-sm-4 control-label" for="Desc">@Html.GetLang("TH00046"):</label>
                    <div class="col-sm-8" style="padding-top:10px">
                        <input style="width:380px;" class="form-control" type="text" id="Desc" name="Desc" value=""/>
                    </div>
                </div>
                <div class="form-group" style="margin: 0 0;padding:0 0;">
                    <label class="col-sm-4 control-label" for="TypeID">@Html.GetLang("TH00047"):</label>
                    <div class="col-sm-8" style="padding-top:10px">
                        <input style="width:380px;" class="form-control" type="text" id="TypeID" name="TypeID" value="" />
                    </div>
                </div>
                <div class="form-group" style="margin: 0 0;padding:0 0;">
                    <label class="col-sm-4 control-label" for="SpecID">@Html.GetLang("TH00042"):</label>
                    <div class="col-sm-8" style="padding-top:10px">
                        @Html.DropDownList("SpecID", (List<SelectListItem>)ViewData["SpecID"], new { @id = "SpecID", @style = "width:380px;", @class = "form-control", datatype = "*", nullmsg = "Please select the Type!" })
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button id="btnAppend" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span>@Html.GetLang("BT00007")</button>
            <button id="btnClosePO" type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>@Html.GetLang("BT00008")</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<input id="_id" type="hidden" value="000000" />

<script type="text/javascript">
    $(function () {
        $("#btnAppend").click(function () {
            save();
        })
        
    });

    function getKeyAddPage(event) {
        if (event.keyCode == 13) {
            //$('#btnSearch').click();
            save();
        }
    }

    function save() {
        $.post('@Url.Action("DeviceTypeSaveAdd")',
            { poststr: JSON.stringify($('#addressadd').serializeJSON()) },
            function (result) {
                if (result.IsSuccess) {
                    $("#tab_table").DataTable().ajax.reload();

                    $.globalMessenger().post({
                        message: "操作成功",//提示信息
                        type: 'info',//消息类型。error、info、success
                        hideAfter: 2,//多长时间消失
                        showCloseButton: true,//是否显示关闭按钮
                        hideOnNavigate: true //是否隐藏导航
                    });
                }
                else {
                    if (result.Msg) {
                        var m_ul = "<ul>";
                        var flag = false;
                        $.each(result.Msg, function (idx, msg) {
                            m_ul += "<li>" + msg + "</li>";
                            flag = true;
                        });
                        m_ul += "</ul>";
                        if (flag) { bootbox.alert({ message: m_ul, title: "Error" }); }
                    }
                }
                $("#_Dialog").modal("hide");
                $("#tab_table").DataTable().ajax.reload();
                //console.log(result);
                $("#_id").val(result.Data);
            });
    }
</script>
